/* Global styling */
body {
  margin: 0;
}

.main_section {
  height: 120vh;
}

.fixed_header {
  position: fixed;
  top: 0;
  width: 100%;
}

.fixed_nav {
  position: fixed;
  left: 0;
  top: 20%;
  width: 60px;
  height: 40vh;
  border: 1px solid black;
}
